<md-toolbar color="accent">
  <!--(button[md-button]>{Category $})*5-->
  <button md-button="">Top stoties</button>
  <button md-button="">Most viewed stories</button>
  <button md-button="">Dakota Piple Line Exclusive</button>
  <button md-button="">Other</button>

  <span fxFlex="1 1 auto"></span>
  <!--(button[md-icon-button]>md-icon{})*2-->
  <button md-icon-button="">
    <md-icon>search</md-icon>
  </button><button md-icon-button="" md-tooltip="Open Sorting Menu">
    <md-icon>sort</md-icon>
  </button>

</md-toolbar>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="33%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div fxLayout="column">
      <div style="padding: 3%">
        <h2>Top CNN Stories</h2>
        <md-card *ngFor="let article of articles.slice(0,1)">
          <!--<a href="">-->
          <h3 routerLink="/sample-news-article" class="click-me">{{article.title}}</h3>
          <!--</a>-->
          <md-card-subtitle style="margin-bottom: 0">{{article.author}}</md-card-subtitle>
          <md-card-subtitle>{{article.publishedAt|date:'medium'}}</md-card-subtitle>
          <img src="{{article.urlToImage}}" alt="" md-card-image="">
          <md-card-content>{{article.description}}</md-card-content>
        </md-card>
        <div>
          <div *ngFor="let article of articles; let i = index" style="border-bottom: 1px solid #455A64">
            <ng-container *ngIf="i===2">
              <h3 style="margin: 8px" routerLink="/sample-news-article" class="click-me">{{article.title}}</h3>
            </ng-container>
            <ng-container *ngIf="i>2">
              <h4 style="margin: 8px" routerLink="/sample-news-article" class="click-me">{{article.title}}</h4>
            </ng-container>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!--COLUMN 2-->
  <div fxFlex="33%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div fxLayout="column">
      <div style="padding: 3%">
        <h2>Top Business Insider Stories</h2>
        <md-card *ngFor="let article of articles2.slice(0,1)">
          <!--<a href="">-->
          <img src="{{article.urlToImage}}" alt="" md-card-image="">
          <h3 routerLink="/sample-news-article" class="click-me">{{article.title}}</h3>
          <!--</a>-->
          <md-card-subtitle style="margin-bottom: 0">{{article.author}}</md-card-subtitle>
          <md-card-subtitle>{{article.publishedAt|date:'medium'}}</md-card-subtitle>
          <md-card-content>{{article.description}}</md-card-content>
        </md-card>
        <div>
          <div *ngFor="let article of articles2; let i = index" style="border-bottom: 1px solid #455A64">
            <ng-container *ngIf="i===2">
              <h3 routerLink="/sample-news-article" class="click-me" style="margin: 8px">{{article.title}}</h3>
            </ng-container>
            <ng-container *ngIf="i>2">
              <h4 style="margin: 8px" routerLink="/sample-news-article" class="click-me">{{article.title}}</h4>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--COLUMN 3-->
  <div fxFlex="33%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div fxLayout="column">
      <div style="padding: 3%">
        <h2>BuzzFeed</h2>
        <md-card *ngFor="let article of articles3.slice(0,1)">
          <!--<a href="">-->
          <img src="{{article.urlToImage}}" alt="" md-card-image="">
          <h3 routerLink="/sample-news-article" class="click-me">{{article.title}}</h3>
          <!--</a>-->
          <md-card-subtitle style="margin-bottom: 0">{{article.author}}</md-card-subtitle>
          <md-card-subtitle>{{article.publishedAt|date:'medium'}}</md-card-subtitle>
          <md-card-content>{{article.description}}</md-card-content>
        </md-card>
        <div>
          <div *ngFor="let article of articles3; let i = index" style="border-bottom: 1px solid #455A64">
            <ng-container *ngIf="i===2">
              <h3 style="margin: 8px" routerLink="/sample-news-article" class="click-me">{{article.title}}</h3>
            </ng-container>
            <ng-container *ngIf="i>2">
              <h4 style="margin: 8px" routerLink="/sample-news-article" class="click-me">{{article.title}}</h4>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
