<!--<iframe width="100%" height="1000px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBEQHLjxFibBl4cn0edoX7hCrFYfGvnAz4
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>-->
<md-card>
  <md-card-subtitle>From: Huy Pham</md-card-subtitle>
  <md-card-title>
    <h2>Welcome to News Outlet</h2>
  </md-card-title>
  <md-card-content>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia doloremque magnam ipsam ipsa quis minima error officia
      magni dignissimos, recusandae inventore itaque aliquid placeat asperiores corporis repellat, commodi minus, quibusdam.</div>
    <div>Fuga porro suscipit, commodi nobis sequi a iure! Quasi veritatis sunt blanditiis ea dicta nihil, quisquam ipsa aspernatur
      pariatur. Minus ipsam modi dolores esse consequatur obcaecati quis ipsum quidem amet!</div>
    <div>Architecto iusto ex, nulla suscipit sit libero error debitis dolore commodi, doloremque voluptatum qui, eaque voluptates.
      Vitae consequuntur quaerat ipsa quidem maxime veritatis doloribus, deserunt debitis vero asperiores natus, sint.</div>
    <div>Architecto accusantium laboriosam eum distinctio voluptatem ipsa, laudantium vel at, molestiae earum eius, natus dicta
      ab facilis nobis amet temporibus odit necessitatibus ducimus reiciendis iusto molestias ex eos. Facere, eum.</div>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button="" color="primary" routerLink="/news">START HERE</button>
  </md-card-actions>
</md-card>
