<md-card>
  <md-card-title>
    Seattle to cut ties with Wells Fargo over Dakota Access pipeline
  </md-card-title>
  <md-card-subtitle>
    by Matt Egan @mattmegan5</md-card-subtitle>
  <md-card-subtitle>
    <md-icon>access_time</md-icon>
    <span> February 8, 2017: 11:58 AM ET</span>
    <span fxFlex="1 1 auto"></span>
    <button md-icon-button="">
      <md-icon>favorite</md-icon>
    </button>
    <button md-icon-button="">
      <md-icon>share</md-icon>
    </button>
    <button md-icon-button="">
      <md-icon>mail</md-icon>
    </button>
  </md-card-subtitle>

  <md-card-content>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ullam omnis nulla, quasi, delectus doloremque ducimus
      beatae aperiam voluptas magnam earum. Expedita voluptates, vitae numquam, accusamus odio magni in a!</h4>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat pariatur error eum, laboriosam vel, sint, labore cumque ipsa vitae sequi, iste alias reprehenderit. Nostrum omnis cum quaerat voluptates, modi maxime.</span><span>Deserunt voluptate consequuntur illo ab vero modi, debitis rem perspiciatis deleniti iure recusandae tempora excepturi assumenda, quis eaque aperiam quibusdam quae autem facere harum quo adipisci dolores. Tenetur, suscipit sunt.</span></p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit sed ullam alias mollitia facilis asperiores, architecto dolor officiis dolore. Repellat culpa dolorum ea magnam numquam ad rem magni ratione perspiciatis.</span><span>Sit itaque, id in vero deleniti sunt et consequuntur expedita quos ipsa, incidunt facere natus dolores dicta dignissimos quas earum, quis dolorem sed cupiditate. Laudantium, totam atque deserunt quisquam repellat!</span></p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur earum accusamus modi nisi, ipsam, iste vitae, maxime non vero dolorem, minima iusto minus esse itaque repellat illum recusandae quis? Nesciunt.</span><span>Quas architecto quae quod et! Rerum dolore vero voluptatum et sapiente accusantium fuga neque dignissimos non omnis assumenda, voluptates, enim eos mollitia dolores reprehenderit id pariatur in maiores, ducimus blanditiis.</span></p>
    <p>
      Seattle is fed up with Wells Fargo. The city's council voted on Tuesday unanimously in favor of cutting banking ties with
      Wells Fargo and avoiding any new investments in the company's stocks and bonds. Seattle's break-up with Wells Fargo
      (WFC) was mostly driven by anger over the bank's role as one of more than a dozen lenders helping to finance the controversial
      Dakota Access Pipeline. The oil pipeline has been given the green light by President Trump, despite fierce opposition
      from Native Americans and environmentalists. Wells Fargo had already fallen out of favor in Seattle due to the fake
      account scandal that has rocked the bank. Seattle had scrapped a $100 million bond deal with Wells Fargo in response
      to the millions of fake accounts and alleged mistreatment of workers at the bank. The new legislation passed by Seattle
      directs the city's mayor to immediately notify Wells Fargo it won't renew an existing banking contract at the end of
      2018. Seattle's bank account balances with Wells Fargo average about $10 million. Seattle is taking further action
      by directing city officials to refrain from making any new cash investments in Wells Fargo securities for a period
      of three years. The legislation does not call for divesting any investments Seattle may already own in Wells Fargo
      stocks and bonds. Seattle Mayor Ed Murray supports the Wells Fargo legislation and plans to sign it, a spokesman confirmed.
      wells fargo seattle pipeline Related: Wall Street has a powerful seat at Trump's table Wells Fargo said in a statement
      that it is "disappointed" Seattle is ending the relationship but emphasized it stands "ready to support the city with
      its financial services needs in the future." Wells Fargo said it's been investing in the "diverse and dynamic" community
      of Seattle since 1859 and today the bank is the No. 2 small business lender in Washington State. Tim Sloan, Wells Fargo's
      CEO, defended the bank's role in the Dakota Access Pipeline.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ullam omnis nulla, quasi, delectus doloremque ducimus beatae
      aperiam voluptas magnam earum. Expedita voluptates, vitae numquam, accusamus odio magni in a! He noted that Wells Fargo
      is just one of 17 banks providing a credit facility to Energy Transfer Partners (ETP), which is building the pipeline.
      "We have an obligation," Sloan said on Wednesday at the Yahoo Finance All Markets Summit. "That credit facility was
      properly vetted and independently reviewed within Wells Fargo. We thought it made sense." Dakota Access protesters
      have also targeted Sloan personally, convening in front of his San Marino, California house last month, according to
      local press reports. Asked about the protests at his home, Sloan said the country is "very divided" but added that
      he's "very respectful" of others' opinions. Related: Wells Fargo fiasco holds up severance for laid-off workers The
      Seattle move came just hours after the Dakota Access Pipeline was granted a critical easement in North Dakota by the
      U.S. Army Corps. of Engineers. The easement will allow the project to move forward by halting an environmental impact
      study. The Army's decision comes two weeks after President Trump ordered an expedited review of the pipeline, which
      has been the subject of a lot of controversy. The Standing Rock Sioux Tribe is strongly opposed to the pipeline being
      built near its home and has warned it threatens to contaminate the tribe's drinking water. Seattle councilmember Debora
      Juarez was born to a Native American mother and is a member of Blackfeet Nation, a large tribe that has a reservation
      in northwest Montana. Juarez said in a statement that Trump's executive order advancing the pipeline "unlawfully deprives
      Native peoples of their rights of due process" and adds "insult to the very real injuries suffered by the Standing
      Rock Sioux." Seattle Mayor Ed Murray slammed the renewed efforts to build the Dakota Access Pipeline as a "political
      decision" and said the city "will not stand by as tribal citizens are treated as second class communities."
    </p>

  </md-card-content>
  <md-card-actions align="end">
    <button md-icon-button="">
      <md-icon>favorite</md-icon>
    </button>
    <button md-icon-button="">
      <md-icon>bookmark</md-icon>
    </button>
    <button md-icon-button="" md-tooltip="Share">
      <md-icon>share</md-icon>
    </button>
    <button md-icon-button="">
      <md-icon>mail</md-icon>
    </button>

  </md-card-actions>
</md-card>

<div fxLayout="column">
  <!--<md-card-title>Comments</md-card-title>-->
  <md-card *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
    <md-card-subtitle>
      <button md-button="">

      <md-icon>person</md-icon><span>Person {{i}}</span>
      </button></md-card-subtitle>
    <md-card-content>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nam magnam doloremque praesentium velit eligendi obcaecati quisquam doloribus maxime culpa id quis ducimus repellendus dolore aperiam adipisci illo, fuga ullam.</span></p>
      <!--<md-input-container #reply>
        <textarea type="text" mdInput=""></textarea>
      </md-input-container>-->
    </md-card-content>
    <md-card-actions align="end">
      <button md-button="">Report</button>
      <button md-button="">Reply</button>
    </md-card-actions>
  </md-card>


</div>
