<md-toolbar>
  <div id="logo" routerLink="/home">
    <h1>News Outlet</h1>
  </div>
  <!--<button md-button="" color="primary" routerLink="/news"><strong>News Media</strong></button>
  <button md-button="" color="primary"><strong>Scholar Journals</strong></button>-->

  <span fxFlex="1 1 auto"></span>
  <!--(button[md-icon-button]>md-icon{})*2-->
  <button md-button (click)="rssService.login()" *ngIf="!rssService.isAuthenticated()"><strong>LOG IN</strong></button>
  <span *ngIf="rssService.isAuthenticated()">Last visit : {{rssService.last_visit_time| date:'medium'}}</span>
  <button md-button (click)="rssService.logout()" *ngIf="rssService.isAuthenticated()"><strong>LOG OUT</strong></button>
</md-toolbar>
