<md-toolbar>
  <div id="logo" routerLink="/home">
    <h1>DPA</h1>
  </div>
  <button md-button="" color="primary" routerLink="/news"><strong>News Media</strong></button>
  <button md-button="" color="primary"><strong>Scholar Journals</strong></button>
  <button md-button="" color="primary"><strong>Petitions</strong></button>
  <button md-button="" color="primary"><strong>Debate</strong></button>

  <span fxFlex="1 1 auto"></span>
  <!--(button[md-icon-button]>md-icon{})*2-->
  <button md-icon-button="">
    <md-icon>search</md-icon>
  </button>
  <button md-icon-button="" md-tooltip="">
    <md-icon>account_circle</md-icon>
  </button>
  <button md-icon-button="" md-tooltip="Settings" [mdMenuTriggerFor]="menu">
    <md-icon>settings</md-icon>
  </button>
</md-toolbar>
<md-menu #menu="mdMenu">
  <button md-menu-item>
    <md-icon>format_size</md-icon>
    <span>Font size</span>
  </button>
  <button md-menu-item>
    <md-icon>invert_colors</md-icon>
    <span>Color blind</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
  <button md-menu-item>
    <md-icon>language</md-icon>
    <span>Language</span>
  </button>
</md-menu>
